<div class="main-container">
    <section class="mat-typography mat-display-2">
        Ngx-CC
        <h3 class="mat-title-2">Credit Card Validator for Angular Apps</h3>
        <p class="mat-body description">
            ngx-cc provides set of components that can determine the card type(e.g visa, master card etc) and validate
            it by using
            <a href="https://www.npmjs.com/package/card-validator">Credit Card Validator</a>.
            It can be used with or without angular material. Please look at the examples for more details.
        </p>
        <div class="components-container">
            <h2 class="mat-display-1 heading-components">Components</h2>
            <div class="details">
                <div class="description-comp">
                    <span class="mat-body-2">Selector: </span>
                    <span class="mat-body-1"> ngx-cc</span>
                </div>
                <div class="description-comp">
                    <span class="mat-body-2">Description: </span>
                    <span class="mat-body-1"> A component used to validate the card number and show the matched card
                        type
                        as user start typing.</span>
                </div>
            </div>
            <div class="details">
                <div class="description-comp">
                    <span class="mat-body-2">Selector: </span>
                    <span class="mat-body-1"> ngx-cc-date</span>
                </div>
                <div class="description-comp">
                    <span class="mat-body-2">Description: </span>
                    <span class="mat-body-1"> A component used to validate the card date and format it if valid</span>
                </div>
            </div>
            <div class="details">
                <div class="description-comp">
                    <span class="mat-body-2">Selector: </span>
                    <span class="mat-body-1"> ngx-cc-cvv</span>
                </div>
                <div class="description-comp">
                    <span class="mat-body-2">Description: </span>
                    <span class="mat-body-1"> A component used to validate the card security code.</span>
                </div>
            </div>
        </div>
        <p class="mat-body description">In order to override the styles on the component, you can pass a css class by
            using <strong style="font-weight: 500">styleClass</strong> property on any of above component</p>
            <p class="mat-body description"><b>Note:</b>  In order to use it without angular material, you need to set defaultStyles attribute on components</p>
    </section>

    <section class="mat-typography">
        <h2>With Angular Material</h2>
        <mat-tab-group>
            <mat-tab label="HTML">
                <pre class="code"><code>{{html}}</code></pre>
            </mat-tab>
            <mat-tab label="TS">
                <pre class="code"><code>{{code}}</code></pre>
            </mat-tab>
            <mat-tab label="DEMO">
                <ng-container *ngTemplateOutlet="matExample"></ng-container>
                <!-- <div class="option-container">
                    <label>Appearance</label>
                    <mat-radio-group [formControl]="appearance">
                        <mat-radio-button value="legacy">Legacy</mat-radio-button>
                        <mat-radio-button value="standard">Standard</mat-radio-button>
                        <mat-radio-button value="fill">Fill</mat-radio-button>
                        <mat-radio-button value="outline">Outline</mat-radio-button>
                    </mat-radio-group>
                </div> -->
            </mat-tab>
        </mat-tab-group>
    </section>

    <section class="basic-html">
        <h2 class="heading-normal">Without Angular Material</h2>
        <mat-tab-group>
            <mat-tab label="HTML">
                <pre class="mat-typography code"><code>{{htmlWithouMaterial}}</code></pre>
            </mat-tab>
            <mat-tab label="TS">
                <pre class="mat-typography code"><code>{{codeWithoutMaterial}}</code></pre>
            </mat-tab>
            <mat-tab label="DEMO">
                <ng-container *ngTemplateOutlet="normalExample"></ng-container>
            </mat-tab>
        </mat-tab-group>

    </section>
</div>

<ng-template #matExample>
    <form class="cc-form" [formGroup]="form">
        <mat-form-field class="ngx-cc-form-field">
            <ngx-cc name="cardNumber" styleClass="card" formControlName="creditCard"></ngx-cc>
            <mat-placeholder>0000 0000 0000 0000</mat-placeholder>
            <mat-error *ngIf="form.controls.creditCard.invalid">Card number is not valid</mat-error>
        </mat-form-field>
        <div class="cc-date-cvv-container">
            <mat-form-field class="ngx-cc-form-field">
                <ngx-cc-date formControlName="creditCardDate"></ngx-cc-date>
                <mat-placeholder>MM / YY</mat-placeholder>
                <mat-error *ngIf="form.controls.creditCardDate.invalid">Expiration date is not valid</mat-error>
            </mat-form-field>
            <mat-form-field class="ngx-cc-form-field">
                <ngx-cc-cvv formControlName="creditCardCvv"></ngx-cc-cvv>
                <mat-placeholder>CVV</mat-placeholder>
                <mat-error *ngIf="form.controls.creditCardCvv.invalid">Security code is not valid</mat-error>
            </mat-form-field>
        </div>
        <div class="btn-container">
            <button [disabled]="form.invalid" mat-raised-button color="primary">Purchase</button>
        </div>
    </form>
</ng-template>

<ng-template #normalExample>
    <form class="cc-form" [formGroup]="withoutMaterialForm">
        <div class="form-group">
            <ngx-cc defaultStyles placeholder="0000 0000 0000 0000" required="true" styleClass="default-input"
                name="cardNumber" formControlName="creditCardeWithoutMaterial"></ngx-cc>
            <span
                *ngIf="withoutMaterialForm.controls.creditCardeWithoutMaterial.invalid && withoutMaterialForm.controls.creditCardeWithoutMaterial.touched">
                Card number is not valid
            </span>
        </div>
        <div class="cc-date-cvv-container space-even">
            <div class="form-group">
                <ngx-cc-date defaultStyles styleClass="default-input" placeholder="MM / YY"
                    formControlName="creditCardDateWithoutMaterial">
                </ngx-cc-date>
                <span
                    *ngIf="withoutMaterialForm.controls.creditCardDateWithoutMaterial.invalid && withoutMaterialForm.controls.creditCardDateWithoutMaterial.touched">
                    Expiration date is not valid
                </span>
            </div>
            <div class="form-group">
                <ngx-cc-cvv defaultStyles styleClass="default-input" placeholder="CVV"
                    formControlName="creditCardCvvWithoutMaterial"></ngx-cc-cvv>
                <span
                    *ngIf="withoutMaterialForm.controls.creditCardCvvWithoutMaterial.invalid && withoutMaterialForm.controls.creditCardCvvWithoutMaterial.touched">
                    Security code is not valid
                </span>
            </div>
        </div>
        <button class="btn-purchase" [disabled]="withoutMaterialForm.invalid">Purchase</button>
    </form>
</ng-template>